.App {
  text-align: center;
}

.number-input input[type="number"] {
  -webkit-appearance: textfield;
    -moz-appearance: textfield;
          appearance: textfield;
}
.number-input input[type=number]::-webkit-inner-spin-button,
.number-input input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.number-input {
  margin-bottom: 3rem;
}
.number-input button {
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0;
  position: relative;
}
.number-input button:before,
.number-input button:after {
  display: inline-block;
  position: absolute;
  content: '';
  height: 2px;
  transform: translate(-50%, -50%);
}
.number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg);
}
.number-input input[type=number] {
  text-align: center;
}
.number-input.number-input {
  border: 1px solid #ced4da;
  width: 4.5rem;
  border-radius: 5rem;
}
.number-input.number-input button {
  height: 2rem;
width: 1rem;
}
.number-input.number-input button.minus {
  padding-left: 10px;
  border: 1px solid #ced4da;

border-radius: 5rem 0 0 5rem;
}
.number-input.number-input button.plus{
  border: 1px solid #ced4da;
  border-radius: 0rem 5rem 5rem 0;

padding-right: 12px;

}

.number-input.number-input button:before,
.number-input.number-input button:after {
  width: .7rem;
  background-color: #495057;
}
.number-input.number-input input[type=number] {
  max-width: 1.75rem;
padding: .5rem;
border: 1px solid #ced4da;
border-width: 0 1px;
font-size: 1rem;
height: 2rem;
color: #495057;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.border_radious_20{
  border-radius: 20px;;
}
.btn-head{
  color: #6c757dd6 !important;
    border-color: #6c757dd6 !important;
}
.btn_pdd{
  padding: 7px 10px 7px 10px !important;
}
.h-500{
  height: 500px;
}
.pt-140{
  padding-top: 140px;
}
.order-btn{
  position: absolute !important;
  left: 0;
  right: 0;
  margin: auto;
  color:white;
  background-color: rgb(70, 159, 243);
}
.font1{
  font-family: 'Segoe UI';
}

.font2{
  font-family: 'Segoe UI';
  font-weight: bold;
}
.fontsize1{
  font-size: 14px;
}

.fontsize2{
  font-size: 16px;
}
.fontsize3{
  font-size: 12px;
}
.fontsize4{
  font-size: 20px;
}

.ftheading{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.cftheading{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: 18px;
}
.ftcardheading{
  text-align: center;
  font-size: 20px;
}
.ftcardtext{
text-align: center;
font-size: 12px;
}
.prcardheading{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight:500;
  font-size: 24px;
  color: rgb(91, 96, 105);
}
.viewallbtn{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color:#4abdde;
  color:white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
}
.producthead{
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color:#5d7184;
font-weight: 600;
text-align: center;
padding-right: 15px;
}
.proddescribe{
  font-size: 14px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color:#7494af;
font-weight: 400;
text-align: center;

align-content: center;

}
.prodprice{
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color:#5d7184;
font-weight: 500;
text-align: left;

align-content: left;
padding-bottom: 0;
margin-bottom: 10px;

}
.addbtn{
 
  color:#4abdde;
  font-size: 14px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 20px;
  font-weight: 500;
border:1px solid #dcebf0;
box-shadow: none;
}
.discountbtn{
color:#f44242;
}
.cbtn
{
  text-transform: capitalize;
}
@media only screen and (min-width: 100px) and (max-width: 550px){

  .imgshrink{
    width: 10%;
  }
  .fhshrink{
    font-size: 1.5rem;
  }
  .fbshrink{
   font-size: 0.75rem;
   padding: 1rem;
  }
}
.contentoverflow{
  overflow: hidden;

text-overflow: ellipsis;
word-wrap: break-word;
display: -webkit-box;

-webkit-box-orient: vertical;

-webkit-line-clamp: 1;

max-height: 3em;
}
.cardradius{
  border-radius: 0.75rem;
}
.whitecolor{
  background-color: white;
}
.width100{
  width: 100%;
}
.sidebox{
  margin-top: '20px';
  border-radius:'0.5rem'
}
body{
  font-family: 'Segoe UI',sans-serif;
}